<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>
<!--@usersの中に含まれる配列をeachで一つずつ取り出す-->
<!--取り出したものをuserという変数に入れるので|user|-->
<% @users.each do |user|%>
<!--image_tag userのuserは@usersの一つずつを格納した変数userを指す-->
<!--どのカラムを使用するかprofile_image、ここもidは記述しない-->
<!--fallbackは画像が何も設定されていないときに任意の画像を表示させるコマンド-->
<!--画像はassets/imagesの中に格納-->
<%= attachment_image_tag user, :profile_image, fallback: "no_image.jpeg" %>
<!--user.usernameでユーザーネームを取り出す-->
<%= user.username %>
<% end %>